
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family:  sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

a {
    color: #333;
    text-decoration: none;
}

.wrapper {
    padding-top: 49%;
    background: url('/assets/images/KHACH-SAN.jpg') center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.user-choice{
    width: 600px;
    height: 350px;
    border-radius: 4px;
    background-color:transparent;
    
    position: absolute;
    bottom: 25%

}

.user-choice__title{
    text-align: center;
    margin: 40px 0;
    color: rgb(31, 41, 59);
    font-size: 32px;
}

.user-choice__body{
    display: flex;
    justify-content: space-evenly;
}

.consumer-btn{
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.consumer-btn,
.customer-btn {
     min-width: 200px;
     height: 60px;
     border: none;
     border-radius: 10px;
     background-color: aqua;
     cursor: pointer;
}


/* form login */

.login {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    align-items: center;
    justify-content: center;
}

.login.login-open {
    display: flex;
}

.login__container {
    background-color: #EAEAEA;
    min-width: 500px;
    min-height: 400px;
    color: #17a2b8;
    padding: 20px;
    position: relative;
    animation: loginFadeIn ease 0.5s;
}

.login-close-icon{
   position: absolute;
   top:0px;
   right: 0px;
   padding: 12px;
   cursor: pointer;
}

.login-close-icon:hover{
    background-color: #17a2b8;
    color: white;
}

.login-form__header{
    text-align: center;
    font-size: 32px;
    margin-bottom: 12px;
}

.form-control{
    width: 100%;
    border: solid 1px #ccc;
    border-radius: 2px;
    padding: 8px 12px;
    margin-top: 4px;
    margin-bottom: 20px;
    outline: none;
}

.login-form__footer{
    margin: 12px 0 8px 0;
    display: flex;
    justify-content: space-between;

}

.login__remember{
  display: flex;
  align-items: center;
  cursor: pointer;
}

#remember-me{
    margin-left: 8px;
    width: 16px;
    height: 16px;
}

#register-link a{
    color: #17a2b8;
}

#register-link:hover{
    opacity: 0.8;
}

.btn-submit{
    margin-top: 8px;
    border: solid 1px #ccc;
    padding: 12px 24px;
    background-color: #17a2b8;
    color: white;
}
.btn-submit:hover{
    cursor: pointer;
    opacity: 0.8;
}

@keyframes loginFadeIn {
    from {
       transform: translateY(-100px);
       opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}